body {
  background: #23BE61;
  color: #fff;
  font-family: "Murecho", sans-serif;
  text-align: center;
}

header {
  padding: 20px;
}

header h1 {
  font-size: 4em;
}

.display-none {
  display: none;
}

.cards {
  align-items: center;
  /* border: red solid 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30%;
  justify-content: flex-start;
  max-width: 1218px;
  margin: auto
  /* padding: 20px; */
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-selection {
  border-radius: 10px;
  box-shadow: 0px 5px 5px  #1B2837;
  color: #F9F4F5;
  margin: 30px;
  padding: 10px;
}

#higher {
  background: #456990;
  border: #456990 solid 3px;
}

#higher:hover {
  background: #F9F4F5;
  color: #456990;
}

#higher:active {
  background: #F9F4F5;
  box-shadow: inset 0px 0px 5px #000;
  color: #456990;
}

#lower {
  background: #71092C;
  border: #71092C solid 3px;
}

#lower:hover {
  background: #F9F4F5;
  color: #71092C;
}

#lower:active {
  background: #F9F4F5;
  box-shadow: inset 0px 0px 5px #000;
  color: #71092C;
}

#reset {
  background: #173753;
  border: #173753 solid 3px;
}

#reset:hover {
  background: #F9F4F5;
  color: #173753;
}

#reset:active {
  background: #F9F4F5;
  box-shadow: inset 0px 0px 5px #000;
  color: #173753;
}

#result {
  font-size: 30px;
}

@media only screen and (max-width: 600px) { 
  header {
    padding: 0;
  }
  
  header h1 {
    font-size: 40px;
    margin: 25px 15px 15px;
  }

  .button-selection {
    margin: 25px 15px 15px;
  }

  .button-container {
    padding-bottom: 10px;
  }

  .cards img {
    flex: 3 0 21%;
    height: 130px;
    /* width: 30%; */
    padding: 7px;
  }
}